html
{
    background:#FFF;
}
body
{
    font-family: sans-serif;
    font-size: 14px;
    color: #3F3F3F;
}
h1
{
    font-family: 'Share Tech', sans-serif;
    font-size: 48px;
    font-weight:normal;
    text-transform: uppercase;
    letter-spacing:-1px;
    float:left;
    margin-bottom:0px;
}
ul
{
    list-style-type:square;
    margin-left:20px;
}
code,
pre
{
    font-family: 'Share Tech', sans-serif;
    background: #F0F0F0;
    color:#000;
}
pre
{
    padding:10px 20px;
    margin: 10px 0;
}
a,
a:visited
a:active
{
    color:#000!important;
    text-decoration:underline!important;
}
a:hover
{
    background: #C1E05D!important;
    text-decoration:underline!important;
}
a.back_home
{
}
p
{
    padding: 0;
    margin: 10px 0;
}
blockquote
{
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-left: 1px solid #CCC;
}
blockquote, blockquote p {
    line-height: 24px;
    color: #888;
    font-family: 'Share Tech', sans-serif;
    font-size: 14px;
    font-style:normal;
}
header
{
    padding: 1em 0 0 0;
    margin-bottom:0;
}
footer
{
    margin-top:40px;
    font-size: 90%;
    background: #F0F0F0;
    padding: 2em 0 2em 0;
}
footer p
{
    margin:0 20px 0 20px;
    padding:0;
}
div#content
{
    padding:10px 20px;
}
div.contatti2
{
    margin-right:1em;
}
div.contatti ul li a:hover,
div.contatti2 ul li a:hover
{
    background:#FFF!important;
}
div.contatti,
div.contatti2
{
    float:left;
    margin-left:5px;
    vertical-align:baseline;
    padding-top:5px;
    font-family: 'Share Tech', sans-serif;
    font-size:14px;
}
div.contatti ul li,
div.contatti2 ul li
{
    line-height: 18px;
    margin-bottom: 0;
    list-style-type:none;
}
.verde
{
    color: #C1E05D;
}
.grigio
{
    color: #AFAFAF;
}
.clearfix
{
    clear:both;
}
.bordered
{
    background:#F5F5F5;
}
div.pull-right
{
    float:right;
}
p.pull-right
{
    text-align:right;
}
.nofloat
{
    clear:both;
}
p.copying
{
    color: #999;
    margin-top: 1em;
    font-family: 'Share Tech', sans-serif;
}
div.noborder
{
    margin-bottom:0px!important;
}
/*
 * MAIN MENU
 */
div.main_menu
{
    margin: 0em 1em 1em 1em;
}
div.videos
{
    margin: 5em 0em 2em 0em;
    padding-top:0em;
}
div.main_menu a
{
    text-decoration:underline!important;
    display:inline-block;
    padding: 5px 10px;
    background: #FFF;
    font-family: 'Share Tech', sans-serif;
    font-size:16px;
    margin: 0px 2px 5px 0;
    text-transform:uppercase;
    color:#666!important;
}
div.main_menu a:hover
{
    background-color: #FFF!important;
    color:#000!important;
}
div.main_menu a img
{
    margin:0;
    padding:0;
    vertical-align:middle;
}
