<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
    <title>{{ page.title }} - carloratm personal site</title>
    <meta name="description" content="The personal site of Carlo 'carloratm' Ascani">
    <meta name="keywords" content="carloratm,linux audio,audio,linux">
    <meta name="author" content="Carlo Ascani">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/theme.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>

<div class="container">

    <div class="row noborder">
        <div class="sixteen columns clearfix">
            <header>
                <h1>carlo<span class="verde">ratm</span></h1>
                <div class="contatti">
                    <ul>
                        <li class="email"><span class="grigio">email:</span> carlo.ratm@gmail.com</li>
                        <li class="mobile"><span class="grigio">mobile:</span> +39 3886512948</li>
                    </ul>
                </div>
                <div class="contatti2 pull-right">
                    <ul>
                        <li><a href="/" class="back_home"><img src="/images/home.png"></a></li>
                    </ul>
                </div>
                <br class="nofloat">
            </header>
        </div>
    </div>

    <div class="row">
        <div class="sixteen columns clearfix">
{% block content %}
{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="sixteen columns clearfix">
            <footer>
                <p>This site has been last update on {{site.date}}</p>
                <p>This website is build using <a href="http://wok.mythmon.com">wok</a>,
                a static website generator written in python.</p>
                <p>The HTML code is build upon <a href="http://www.getskeleton.com">Skeleton</a>.</p>
                <p>Deployment is made with <a href="http://docs.fabfile.org/en/1.6/">Fabric</a>,
                    a python library and command-line tool for streamlining the use
                    of SSH for application deployment
                    or systems administration tasks.</p>
                <p class="pull-right copying">Copyleft 2013 - Carlo Ascani</p>
            </footer>
        </div>
    </div>

</div><!-- container -->

</body>

</html>
