{% extends "base.html" %}

{% block content %}

<div class="main_menu">
    <a href="https://bitbucket.org/carloratm/datrigga/overview">
        datrigga
    </a>
    <a href="https://soundcloud.com/carlo-ascani">
        audio projects
    </a>
    <a href="https://bitbucket.org/carloratm">
        code
    </a>
    <a href="https://aur.archlinux.org/packages/?K=carloratm&SeB=m">
        AUR packages
    </a>
    <a href="http://www.flickr.com/photos/carlo-ratm">
        photos
    </a>
    <a href="http://www.instructables.com/member/carloratm">
        DIY
    </a>
</div>

<ul>
{% for p in site.pages %}
    <li>{{ p.authors }}</li>
    <li>{{ p.title }}</li>
    <li>{{ p.slug }}</li>
    <li>{{ p.url }}</li>
{% endfor %}
</ul>

{{ page.content }}

<div class="videos">
    <iframe src="//player.vimeo.com/video/77480362?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="356" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="//player.vimeo.com/video/64211369?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="356" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="//player.vimeo.com/video/39627951?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="356" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="//player.vimeo.com/video/70611158?byline=0&amp;portrait=0&amp;color=c9ff23" width="267" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% endblock %}

